# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=txWveAOBqvRk7i8IauyRcwyO5elRlcDL9WI8R8lN2fzVfZxqPY/gnmamaG03TghJHe9CqA7f18s66MsWbi1C/XYaxij30E4uBLmKCr+Dybm4c7HCM757+uttlgRW39m+UsMNQK/5FIx/qynrVzmk2wdB04t89/1O/w1cDnyilFU=
LINE_USER_ID=Ucc3ea43e8fb74c40dea3c00f74a3187e

# Database
DATABASE_URL=sqlite:///breakfast.db

# Scheduler
NOTIFY_HOUR=7
NOTIFY_MINUTE=0
TIMEZONE=Asia/Tokyo

# Admin server
ADMIN_HOST=0.0.0.0
ADMIN_PORT=5000
